<h1>Lawyer Details</h1>
<% @lawyer_details.each do |lawyer_detail|%><br>
  <%= lawyer_detail.license_no %> <br>
  <%= lawyer_detail.practice_court_name %><br> 
  <%= lawyer_detail.practice_field_name %><br> 
  <%= lawyer_detail.experience %><br> 
  <%= lawyer_detail.city %><br> 
  <%= lawyer_detail.consultation_fees %><br> 
<%end%>