<table>
  <tr>
    <th><h2>Name</h2></th>
    <td><%= @lawyer_detail.user.name %></td>
  </tr>
  <tr>
    <th><h2>Email</h2></th>
    <td><%= @lawyer_detail.user.email %></td>
  </tr>
  <tr>
    <th><h2>License No</h2></th>
    <td><%= @lawyer_detail.license_no %></td>
  </tr>
  <tr>
    <th><h2>Practice Court Name</h2></th>
    <td><%= @lawyer_detail.practice_court_name %></td>
  </tr>
  <tr>
    <th><h2>Practice Field Name</h2></th>
    <td><%= @lawyer_detail.practice_field_name %></td>
  </tr>
  <tr>
    <th><h2>Experience</h2></th>
    <td><%= @lawyer_detail.experience %></td>
  </tr>
  <tr>
    <th><h2>City</h2></th>
    <td><%= @lawyer_detail.city %></td>
  </tr>
  <tr>
    <th><h2>Consultation Fees</h2></th>
    <td><%= @lawyer_detail.consultation_fees %></td>
  </tr>
</table>
  <% if @lawyer_detail.user_id == current_user.id %>
    <% if can? :update,@lawyer_detail %>
      <%= link_to "EDIT", edit_lawyer_detail_path %>
    <% end %>
  <% end %>
<style>
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
  }

  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  th {
    font-weight: bold;
    background-color: #f2f2f2;
  }

  h2 {
    margin: 5px 0;
    font-size: 20px;
    color: black;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #e6e6e6;
  }
</style>
