<h2>license_no:</h2>
<%= @lawyer_detail.license_no %>
<h2>practice_court_name:</h2>
<%= @lawyer_detail.practice_court_name %>
<h2>practice_field_name:</h2>
<%= @lawyer_detail.practice_field_name %>
<h2>experience:</h2>
<%= @lawyer_detail.experience %>
<h2>city:</h2>
<%= @lawyer_detail.city %>
<h2>consultation_fees:</h2>
<%= @lawyer_detail.consultation_fees %>