<!-- Your HTML file -->

<!DOCTYPE html>
<html>
<head>
  <title>Your Dashboard</title>
  <style>
  .container-mt-5 {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .profile-image img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
  }
  
  .profile-info h1 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .edit-profile-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #d6b791;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .cases-section h1 {
    font-size: 24px;
    margin-top: 20px;
    color: #333;
  }
  
  .case-list {
    list-style: none;
    padding: 0;
  }
  
  .case-list-item {
    margin-bottom: 5px;
  }
  
  .case-link {
    color: #b3943e;
    text-decoration: none;
  }
  
  .case-link:hover {
    text-decoration: underline;
  }
  
  .add-case-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #d6b791;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .add-case-link:hover {
    background-color: #c49a6a;
  }
  </style>
  
</head>
<body>
  <div class="container-mt-5">
    <table class="dashboard-table">
      <tr>
        <td class="profile-section">
          <% if current_user.image.attached? %>
            <div class="profile-image">
              <%= image_tag(current_user.image, style: "height:150px; width: 150px; border-radius: 100%; object-fit: cover;") %>
            </div>
          <% else %>
            <div class = "profile-image">
              <%= image_tag("default_profile.png", style: "display: inline-block; height:50px; width: 50px; border-radius: 50%;") %>
            </div>
          <% end %>
          <div class="profile-info">
            <h1><%= current_user.name %></h1>
            <%= link_to "EDIT PROFILE", edit_user_registration_path, class: "edit-profile-link" %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="cases-section">
          <h1>CASES</h1>
          <% if @cases.any? %>
            <ul class="case-list">
              <% @cases.each do |cases| %>
                <% if cases.user_id == current_user.id %>
                  <li class="case-list-item">
                    <%= link_to cases.case_name, cases, class: "case-link" %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% else %>
            <p>No cases found.</p>
          <% end %>
          <%= link_to "Add Case", new_case_path, class: "add-case-link" %>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
