<div id="chatroom_container" class="row bg-light text-dark">
  <div id="side_panel" class="col-md-3 col-sm-4">
    <h5>Hi! <%= current_user.name %> </h5>
    <div><h4> Users </h4></div>
    <%= turbo_stream_from "users" %>
    <div id="users">
      <%= render @users %>
    </div> 
  </div>
  <div id="room_container"
  class="col-md-9 col-sm-8 bg-light text-dark">
    <% if @single_room %>
      <div id="single_room">
        <h4 class="text-center"> <%= @user&.name || @single_room.name %> </h4>
        <%= turbo_stream_from @single_room %>
        <div id="messages">
          <%= render @messages %>
        </div>
        <%= render 'layouts/new_message_form' %>
      </div>
    <% end %>
  </div>
</div>